#calc {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    height: 400px;
    width: 270px;
}

#c-head {
    background-image: linear-gradient(90deg, #d7d7d7 0%,
     #a7a7a7 2%, #b8b8b8 3%, #d7d7d7 5%,#acacac 6%, #b1b1b1 7%,
     #d7d7d7 10%,#acacac 13%, #d7d7d7 15%,#acacac 17%, #afafaf 18%,
     #d7d7d7 20%,#a0a0a0 21%, #adadad 22%, #d7d7d7 24%, #8f8f8f 25%,
     #a7a7a7 27%,#bbbbbb 29%, #d7d7d7 31%, #b3b3b3 32%, #d7d7d7 37%,
     #adadad 38%,#d7d7d7 39%, #b9b9b9 40%, #b8b8b8 41%, #d7d7d7 43%,
     #bbbbbb 44%,#b4b4b4 45%, #d7d7d7 49%, #b4b4b4 50%, #c2c2c2 51%,
     #d7d7d7 54%,#c2c2c2 55%, #c0c0c0 57%, #d7d7d7 60%, #a1a1a1 61%,
     #afafaf 63%,#d7d7d7 65%, #acacac 67%, #afafaf 68%, #d7d7d7 70%,
     #b3b3b3 72%,#a3a3a3 73%, #d7d7d7 74%,#aaaaaa 75%, #929292 77%,
     #d7d7d7 78%,#a1a1a1 80%, #a7a7a7 82%,#9b9b9b 84%, #d7d7d7 86%, 
     #acacac 90%,#d7d7d7 92%, #a7a7a7 94%, #8b8b8b 95%,#d7d7d7 98%,
     #b9b9b9 99%, #b4b4b4 100%);
}

.row {
    display: flex;
}